

:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #5e72e4;
    --secondary: #f7fafc;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: Open Sans,sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 23px;
  left: 20px;
  top: 20px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
}

.more-details {
  font-size: 0.8rem;
}

html {
  font-size: 1rem;
}

/* Alignment for alert cards */
#alert-issued, #alert-responded {
  display: block;
  float: left;    
}
/* hover effects for view-more section */
.more-details:hover {
  text-decoration:none;
  color:blue;
  background:#fff;
}
/* Color/shape font awesome icons */
.text-white {
  color: #fff!important;
}

[class*=shadow] {
  transition: all .15s ease;
}

.bg-gradient-red {
  background: linear-gradient(87deg,#f5365c 0,#f56036 100%)!important;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 3rem;
  height: 3rem;
}
 
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #000000;
}
a:hover {
  text-decoration: none;
  background: #9c27b0;
  color:#fff;

}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  color:#fff;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
 
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
 
/* General sidebar styles */
.bm-menu {
  background: #1c2732;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
 
/* Individual item */
.bm-item {
  display: inline-block;
  color:#fff;
}
 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}